{% extends 'generator/layout.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}"/>
{% endblock %}

{% block content %}
    <!-- header -->
    <header class="header_admin" id="header">
        <div class="top_header">
            <h1 class="logo"><a href="#"><img src="{% static 'images/logo.png' %}" alt="EVM"></a></h1>
        </div>
        <nav>
            <ul class="gnb">
                <li>
                    <a href="{% url 'generator:Upload_Photo' %}">문제 생성</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- //header -->

    <!-- main page part -->
    <main id="container">
        <section class="page_admin">
            <div class="tit">
                <div class="member_info_wrap">
                    <button type="button" class="member_info">
                       <strong>{{ email}}</strong>
                    </button>
                    <ul class="list_member_menu">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li><a href="#">Sign Out</a></li>
                    </ul>
                </div>
            </div>
             <div class="dashboard">
                <div class="card-deck d-flex">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">Problems</div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">
                                {{ PN }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}