<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stationary Guards</title>
</head>
<body>
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <br><br>
    문제 유형
    <select name="problem_type">
        <option value="order">순서</option>
        <option value="blank">빈칸</option>
        <option value="insert">삽입</option>
        <option value="topic">주제/요지</option>
    </select>
    <br><br>
    이미지 업로드
    <input type="file" name="imgs">
    <br><br>
    정답 번호
    <input type="text", name="answer">
    <br><br>
    원하는 빈칸 수
    <input type="text", name="blank_num">
    <br><br>
    <input type="submit" value="Upload">
</form>
</body>
</html>